@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.across {
  justify-content: center;
}

.middle {
  align-items: center;
}

.column {
  flex-direction: column;
}

.wrapper {
  flex-wrap: wrap;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  height: 100vh;
  align-content: space-between;
}

.title, .slogan, .product-reviews, .button {
  width: 100vw;
}

.review-one, .review-two, .review-three, .review-four {
  width: 20%;
  margin: 15px;
  padding: 3px 10px 0 10px;
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid #404142;
}

h5 {
  font-size: 13px;
  padding: 5px;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.title {
  font-size: 180px;
  font-family: 'Arvo', serif;
  font-weight: lighter;
  padding: 0 5px 5px 5px;
  margin-bottom: 10px;
}

.slogan {
  font-size: 40px;
  font-family: 'Share Tech Mono', monospace;
  margin: 15px;
}

.hide {
  opacity: 0.0;
}

.slogan h4 {
  border: 2px solid #000;
  padding: 10px;
}

.button, .review-one,  .review-two,  .review-three, .review-four, a {
  text-decoration: none;
  color: #000;
}

.button h2 {
  font-size: 50px;
  text-align: center;
  padding: 5px;
  color: #000;
  margin-bottom: 25px;
}

.button h2:active {
  color: #ff4e50;
  transform: translateY(5px);
}

.button {
  justify-content: space-around;
}


@keyframes type {
  0% {
    width: 0ch; 
  }
  100% {
    width: 33ch;
  }
  0% {
    opacity:  0.9
  }
  100% {
    opacity:  1;
  }
}

.type {
  white-space: nowrap;
  overflow: hidden;
  animation: type .9s steps(33);
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
}

.gallery, .reviews {
  flex-wrap: wrap;
  margin: 10px;
}

/*Make all the images 100 percent*/

img {
  width: 100%;
}

.card {
  width: calc(25% - 10px);
  position: relative;
  margin: 10px;
}
/*all the drop-down styling */
/*===============================================*/
.curtain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  font-weight: lighter;
  color: #fff;
  padding: 5px;
  white-space: nowrap;
  transform: translate(-50%, -50%)
}

.card:hover .curtain {
  height: 217px;
}

.mini-gallery .card:hover .curtain {
  height: 104px;
}
/*--------------------------------------*/

/*All the flex-boxes start on line 165*/

.mandel-display-container, .sparris-display-container, .gren-display-container, .dadel-display-container, .poppel-display-container, .spenat-display-container, .rova-display-container, .majs-display-container, .janus-display-container, .persika-display-container, .malteh-display-container, .stam-display-container, .vinstock-display-container, .persilja-display-container, .druvor-display-container, .left-container, .right-container, .right-container-info, .button-container, .product-details, .sales-arguments, .product-description, .product-dimensions, .product-wrapper, .wrapper, .title, .slogan, .button, .gallery, .name, .product-reviews, .reviews, .help-container, .help-desk, .help-column, .about-us, .contact {
  display: flex;
}

.product-name, .product-price, .contact {
  font-size: 25px;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.contact {
  margin-bottom: 20px;
}

.product-name, .product-price{
  padding: 5px;
}

.product-number {
  margin-bottom: 20px;
}

.button-container .blue {
  margin-bottom: 10px;
  padding: 10px 115px;
  background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}

.button-container .grey {
  margin-bottom: 10px;
  padding: 10px 56px;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

.button-container .orange {
  padding: 10px 81px;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.button-container, .blue, .grey, .orange {
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 5px;
}

.product-number, .product-type, .help {
  font-size: 13px;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.left-container, .right-container {
  width: 50%;
}

.left-container {
  justify-content: flex-end;
}

.left-container div {
  width: 500px;
}
/*Here starts all the styling for the product/prchase page*/
.product-details, .mini-container {
  width: 50%;
}

.product-details {
  justify-content: space-around;
}

.product-description, .product-dimensions, .sales-arguments {
  width: 41%;
  margin: 10px;
  margin-left: 40%;
  padding: 5px;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 3px;
}

.product-dimensions, .product-description, li {
  list-style-type: none;
}

.grow:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 5px 5px 3px #888888;
  cursor: pointer;
}

.blue:hover, .grey:hover, .orange:hover {
  color: #00c9ff;
  cursor: pointer;
}


.blue:active, .grey:active, .orange:active {
  transform: translateY(5px)
}

.help-agent {
  width: 20%;
}


.help-desk {
  width: 50%;
}

.help-column {
  width: 25%;
  justify-content: space-between;
  border-right: 1px solid #C3BDC4;
  margin: 0 10px 0 10px;
  padding: 0 20px 0 0;
}

.customer-center, .review-one, .review-two, .review-three, .review-four {
  text-align: center;
}

.no-border {
  border-right: none;
}

.no-top-border {
  border-top: none;
}

span p:hover, h5:hover {
  background-color: #f5576c;
}
